AstralisServer/CallbackTestProject/Connected Service/UserManager/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccessProject.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccessProject.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageId" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserWithTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserWithTeam" nillable="true" type="tns:UserWithTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserWithTeam" nillable="true" type="tns:ArrayOfUserWithTeam" />
  <xs:complexType name="UserWithTeam">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageId" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Team" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserWithTeam" nillable="true" type="tns:UserWithTeam" />
  <xs:complexType name="ArrayOfGamesWonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GamesWonInfo" nillable="true" type="tns:GamesWonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGamesWonInfo" nillable="true" type="tns:ArrayOfGamesWonInfo" />
  <xs:complexType name="GamesWonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GamesWonCount" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GamesWonInfo" nillable="true" type="tns:GamesWonInfo" />
</xs:schema>