AstralisClient/Connected Services/UserManager/UserManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService.Contracts" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManager_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ConfirmUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmUser" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ConfirmUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_FindUserByNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByNickname" />
  </wsdl:message>
  <wsdl:message name="IUserManager_FindUserByNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_GetUserByNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNickname" />
  </wsdl:message>
  <wsdl:message name="IUserManager_GetUserByNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ConnectLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_DisconnectLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ChangeLobbyUserTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeLobbyUserTeam" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ShowConnectionInLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowConnectionInLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ShowConnectionInLobby_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowConnectionInLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ShowUsersInLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowUsersInLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ShowUsersInLobby_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowUsersInLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ShowDisconnectionInLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowDisconnectionInLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ShowDisconnectionInLobby_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowDisconnectionInLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_UpdateLobbyUserTeam_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateLobbyUserTeam" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_UpdateLobbyUserTeam_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateLobbyUserTeamResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManager">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/AddUser" message="tns:IUserManager_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/AddUserResponse" message="tns:IUserManager_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/ConfirmUser" message="tns:IUserManager_ConfirmUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/ConfirmUserResponse" message="tns:IUserManager_ConfirmUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/FindUserByNickname" message="tns:IUserManager_FindUserByNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/FindUserByNicknameResponse" message="tns:IUserManager_FindUserByNickname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/GetUserByNickname" message="tns:IUserManager_GetUserByNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/GetUserByNicknameResponse" message="tns:IUserManager_GetUserByNickname_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILobbyManager">
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/CreateLobby" message="tns:ILobbyManager_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/CreateLobbyResponse" message="tns:ILobbyManager_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ConnectLobby" message="tns:ILobbyManager_ConnectLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/DisconnectLobby" message="tns:ILobbyManager_DisconnectLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeLobbyUserTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ChangeLobbyUserTeam" message="tns:ILobbyManager_ChangeLobbyUserTeam_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowConnectionInLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ShowConnectionInLobby" message="tns:ILobbyManager_ShowConnectionInLobby_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ShowConnectionInLobbyResponse" message="tns:ILobbyManager_ShowConnectionInLobby_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowUsersInLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ShowUsersInLobby" message="tns:ILobbyManager_ShowUsersInLobby_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ShowUsersInLobbyResponse" message="tns:ILobbyManager_ShowUsersInLobby_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowDisconnectionInLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ShowDisconnectionInLobby" message="tns:ILobbyManager_ShowDisconnectionInLobby_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ShowDisconnectionInLobbyResponse" message="tns:ILobbyManager_ShowDisconnectionInLobby_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLobbyUserTeam">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/UpdateLobbyUserTeam" message="tns:ILobbyManager_UpdateLobbyUserTeam_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/UpdateLobbyUserTeamResponse" message="tns:ILobbyManager_UpdateLobbyUserTeam_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserManager" type="tns:IUserManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmUser">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/ConfirmUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByNickname">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/FindUserByNickname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByNickname">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/GetUserByNickname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILobbyManager" type="tns:ILobbyManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/CreateLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ConnectLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/DisconnectLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChangeLobbyUserTeam">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ChangeLobbyUserTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ShowConnectionInLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ShowConnectionInLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowUsersInLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ShowUsersInLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDisconnectionInLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ShowDisconnectionInLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLobbyUserTeam">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/UpdateLobbyUserTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManager">
    <wsdl:port name="NetTcpBinding_IUserManager" binding="tns:NetTcpBinding_IUserManager">
      <soap12:address location="net.tcp://localhost:8081/MessageService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MessageService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILobbyManager" binding="tns:NetTcpBinding_ILobbyManager">
      <soap12:address location="net.tcp://localhost:8081/MessageService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MessageService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>